*{
	font-family: 'Roboto', sans-serif;
	position: relative;

}
body{
  background-color: #fafafa;
}
/* ============= navbar ================== */
#navbar{
	padding-left: 0px;
	border-radius: 0;
	margin-bottom: 0px;
	border-bottom-width: 10px;
	border-bottom: solid #58C6D5;
	/*border-image:   linear-gradient(to right, yellow 12%, green 12%, green 29%,darkblue 29%,darkblue 47%,white 47%,white 47%,white 74%,yellow 74%,yellow 88%,brown 88%) 5;*/
}
#navbar li a{
	color:#1d242b;
	font-size: 110%;
}
#navbar li a:hover{
	color: #0077c0 !important;

}
.navbar-brand{
	padding: 0px;
}
#imglogo{
	height:1.8em;
	width:5em;
	margin-top: 1em;
}
/* ================== images slideshow ==================*/

#carousel-example-generic{

}
.carousel-information{
	color: black;
}

#carousel-informationOne, #carousel-informationTwo,#carousel-informationThree,#carousel-informationFour,#carousel-informationFive
{
	color: white;
}

/* ================== particle js animation =================== */
#particles-js{
	position: relative;
	float: center;
	width: 100%;
	height: 24em;
	background-color: #f7f7f7;
	/*padding-top: 5em;
	padding-bottom: 5em;*/

}

/* ===================== machine learning over top of particle js ===================== */
#machineLearning{
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	margin-top: -79.40px;
	margin-left: -226.6px;
}
#machineLearning>h1{
	color: #1d242b;
	padding-top: auto;
	padding-bottom: auto;
	font-size: 50px;
}

/* =================== typed animation =================== */
/*#typed{
	position: absolute;
	top: 9em;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	color: white;
	font-size: 40px;
	/*text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.50);
}*/

/* =================================== css for quotes slideshow start here =================================== */

#slideshow {
	/*margin: 80px auto;*/
	/*position: relative;*/
	/*height: 10em;*/
	/*padding: 1.5em 0 1.5em 0;*//* was not commented for the previous version*/
	font-size: 2.2em;
	font-weight: bold;
	font-family: 'Lora', serif;
	background-color: white;
}

#slideshow > div {
	/*position: absolute;*/
	/*top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;*/
	text-align: center;
	width: 100%;
	margin:0%;
	/*height: 5em;*/
	/*padding: 2em;*/
	/*font-size: 1.5em;*/
}
#slideShowDiv1{
	position: absolute;
	top: 38%;
	margin-top: -15px;
}
#slideShowDiv2{
	position: absolute;
	top: 23%;
	margin-top: -15px;
}
#slideShowDiv3{
	position: absolute;
	top: 20%;
	margin-top: -15px;
}
.carousel-information{
	position: absolute;
	top: 2em;
	left: 4em;
	color: #1d242b;
}
.sliderimage{
    overflow: hidden;
	height: 100%;
	width: 100%;
	-webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
	filter: grayscale(70%)  opacity(.5) saturate(50%);
}
/* ===================== the writing animation ===================== */

/*#animejs{
	padding-top: 20%;
	padding-bottom: 20%;
	padding-left:10%;
	background-color: #03A9F4;
}
@media(max-width: 768px){
	#animejs{
		height: 600px;
	}
}*/

/* =================================== css for flip animator boxes start here =================================== */
#f1_container {
	position: relative;
	margin: 10px auto;
	/*width: 450px;*/
	height: 460px;
	/*padding: 1.5em 0 1.5em 0;*/
	z-index: 2;
	perspective: 1000em;
}
#f1_card {
	color: #1f2022;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s linear;
	/*background-color: #e0e0e0;*/
	

}
#f1_container:hover #f1_card {
	transform: rotateY(180deg);
	/*box-shadow: -5px 5px 5px #aaa;*/
}
.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-color: #0077c0;
}
.face.back {
	display: block;
	transform: rotateY(180deg);
	box-sizing: border-box;
	padding: 10px;
	color: black;
	text-align: center;
	background-color: #f7f7f7;
}
.placeHolderImages{
	height: 281px;
	width: 100%;
}
.flipFrontParagraphs{
	font-size: 1.2em;
}
.flipBackParagraphs{
	font-size: 1.1em;
    text-align: left;
}
.paragraphsTestimonial{
    padding: 1.4em;
    padding-right: 7em;
    font-size: 1.2em;
}
.BTbox{
	width: 400px ;
	height: 250px;
	text-align: center;
	margin-left:2%;
	margin-right: 2%;
	margin-top: 3%;
	margin-bottom: 3%;
	/* Safari */
	-webkit-transition: margin .5s !important; /* Safari */
	transition: margin .5s !important;
}
.BTbox:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 2%;
	margin-bottom: 4%;
}
.BTbox>h2{
	padding-top: 3%;
}
.flipHeaders{

	font-size: 2.5em;
	font-weight: 300;
	margin-top: 4em;
	color: 	#f7f7f7;

}
.button-div{
	padding-left: 4em;
}
.btn{
	color:#1d242b;
	background-color: #64B5F6;
	border: none !important;
	font-weight: normal !important;
}
.btn:hover{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;

}
.iconTest{
    margin: 2em;
    margin-left: 7em;
    padding: .5em;
    max-height: 10em;



}
/* ====================== Jumbotron =============== */

/*.jumbotron{
	padding-left: 2em;
	padding-right: 2em;
	margin-bottom: 0px;

}
.container-fluid{

	background-color: #1f2022;
}*/


/* ===================== ====================== */

.container-fluid{
	background-color: white;
	color: black;
    margin-left: 1em;
    margin-right: 1em;

}
/* ===================== Who we are and Our Teams ================== */
.btn-whoTeam{

	font-weight: bold;
	border: solid black;
	background-color: #64B5F6 !important;
	margin-top: 0.5em;
}
.btn-whoTeam :hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	margin-top: 2%;
	margin-bottom: 4%;
}
.paragraphsWhoTeam{
	margin-top: 1.3em;
	font-weight: 200;
	padding-left:4em;
	padding-right:4em;
	font-size: 1.2em;
}
/*#whoRow{
	height: 30em;
	background-color: #eeeeee;
	padding-left: 4em;
	padding-right: 2em;
	font-size: 1.2em;
}
#teamRow{
	height: 30em;
	background-color: #EEEEEE;
	padding-left: 4em;
	padding-right: 2em;
	font-size: 1.2em;
}
#imageTeam{

	height: 250px;
	width: 443px;
}*/
input ,textarea{
    color:#64B5F6;
    background-color: #2b303a;
    border-color: #1d242b;
    margin:.6em;
    border: solid;
    border-radius:10px;
    padding: .5em;
}
.footer-send{
    background-color: #2b303a;
    border-color: #1d242b;
    margin:.1em;
    border: solid;
    border-radius:10px;
    padding: .5em;
}
#containerWhoTeam{
	padding-top: 3em;
	padding-bottom: 5em;
	padding-left: 0;
	padding-right: 0;
}
#containerWhoTeam>div{
	padding-top: 3em;
	padding-bottom: 0em;
}
.headings{
	font-family: 'roboto';
	font-size: 2.5em;
	color: #58C6D5;
	font-weight: 300;
	transition: font-size 2s;
}
#WAWheading{
	border-bottom-style: solid;
	border-bottom-width: 0em;
	border-color: #0077c0;
	font-size: 2.5em;
	transition: font-size 2s, border-bottom-width 2s;
}
#OTheading{
	border-bottom-style: solid;
	border-bottom-width: 0em;
	border-color: #0077c0;
	transition: font-size 2s, border-bottom-width 2s;
}
#OMheading{
	border-bottom-style: solid;
	border-bottom-width: 0em;
	border-color: #0077c0;
	transition: font-size 2s, border-bottom-width 2s;
}
#WUheading{
	border-bottom-style: solid;
	border-bottom-width: 0em;
	border-color: #0077c0;
	transition: font-size 2s, border-bottom-width 2s;
}
#Theading{
	border-bottom-style: solid;
	border-bottom-width: 0em;
	border-color: #0077c0;
	transition: font-size 2s, border-bottom-width 2s;
}


/*.img-responsive{
	margin-top: 6em;
}*/
/* ============== why us =========================== */

.whyUs{
	margin-bottom: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
}
.whyUsParagraph{
	font-size: 1.5em;
}
.orangeh{
	border-top-color:#f7f7f7;
	border-top-style: solid;
	border-top-width: 4px;

}
.orangeh:hover{

    border-top-color : #0077c0;
	font-weight: 600;

}

.item {
	display: none;
	position: relative;
	.transition(3s ease-in-out left);
	overflow: hidden !important;
	height: 40em;
	background-size: 100% !important;
}

/* ================= Testimonials===================== */

#firstTestimonial, #secondTestimonial, #thirdTestimonial{
	position: absolute;
	top: 0px;
	display: none;
	color: white;
	background-color: rgba(0,0,0,0.4);
	padding: 1em;
}
#firstTestimonial p, #secondTestimonial p, #thirdTestimonial p{
	font-size: 1.2em;
}
/* ===================== media queries ======================= */

.iconography{
	position: relative;
}
@media (max-width: 600px) {
	.iconography{
		left: 38%;
	}
	#carousel-example-generic ,#carousel-example-generi{
		height: 20em;

	}	
	.carousel-information{
		margin-top: 3em;
		height: 24em;
	}
	.carousel-information>h1 {
		font-size: 1.5em;
	}
	.carousel-information>h3{
		font-size: 1em;
		margin:1px;
	}
	#carousel-informationFive{
		top: 1em;
	}
	#carousel-informationThree{
		top: 2em;
		
	}
	.imageTestimonials, #firstTestimonial, #secondTestimonial, #thirdTestimonial{
		height: 220px;
		width: 140px;
	}
	#slideshow{
		height: 5em;
		font-size: 1.3em;
	}
	#slideShowDiv1{
		top: 10%;
	}
	#slideShowDiv2{
		top: 13%;
	}
	#slideShowDiv3{
		top: 5%;
	}

	#imglogo {
		height: 2.5em;
		width: 7.5em;
		margin-top: .3em;
		margin-left: 2em;
		margin-right: 1em;
	}

}
@media (min-width: 600px) and (max-width: 768px) {
	.iconography{
		left: 43%;
	}
		#carousel-example-generic ,#carousel-example-generi  {
		height: 25em;

	}
	.carousel-information{
		margin-top: 6em;
		font-size: 15px;
		height: 18em;
	}
	#carousel-informationFive{
		margin-top: -1em;
	}
	#carousel-informationThree{
		 font-size: .5em;
		 top: 2em;
	 }
	#carousel-informationFour{
		font-size: .5em;
		top: 2em;
	}
	.imageTestimonials, #firstTestimonial, #secondTestimonial, #thirdTestimonial{
		height: 380px;
		width: 180px;
	}
	#slideshow{
		height: 4em;
		font-size: 1.3em;
	}
	#slideShowDiv3{
		top: 12%;
	}
	#slideShowDiv2{
		top: 15%;
	}
	#imglogo{
		height:2em;
		width:6em;
		margin-top: .3em;
		margin-left: 1em;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.iconography{
		left: 44%;
	}
	#carousel-example-generic ,#carousel-example-generi{
		height: 35em;
	}
	.carousel-information{
		margin-top: 6em;
		font-size: 15px;
		height: 23em;
	}
	#carousel-informationFive{
		margin-top: 5em;
		height: 48em;
	}
	.imageTestimonials, #firstTestimonial, #secondTestimonial, #thirdTestimonial{
		height:530px;
		width: 80% !important;
	}
	#slideshow{
		height: 4em;
	}
	#slideShowDiv3{
		top: 15%;
	}
}
@media (min-width: 992px) and (max-width: 1200px) { 
	.iconography{
		left: 40%;
	}
	#carousel-example-generic ,#carousel-example-generi{
		height: 35em;
	}
	.carousel-information{
		margin-top: 6em;
		height: 23em;
	}
	#carousel-informationOne{
		top: 5em;
		left:10em;
	}
	#carousel-informationTwo{
		top: 5em;
		left: 13em;
	}
	#carousel-informationFive{
		top: 3em;
		left:10em;
	}
	.imageTestimonials, #firstTestimonial, #secondTestimonial, #thirdTestimonial{
		height: 420px;
		width: 90% !important;
	}
	#slideshow{
		height: 5em;
	}
}
@media (min-width: 1200px){
	.iconography{
		left: 43%;
	}
	#carousel-example-generic ,#carousel-example-generi{
		height: 35em;
	}
	.carousel-information{
		margin-top: 6em;
		left:5em;
		height: 23em;
	}
	#carousel-informationOne{
		left: 13em;
		top: 8em;
	}
	#carousel-informationTwo{
		top:8em;
		left: 20em;
	}
	#carousel-informationThree{
		left: 7em;
		top: 6em;
	}
	#carousel-informationFour{
		left: 10em;
		top: 6em;
	}
	#carousel-informationFive{
		left: 20em;
		top: 3.5em;
	}
	.imageTestimonials, #firstTestimonial, #secondTestimonial, #thirdTestimonial{
		height: 380px;
		width: 90% !important;
	}
	#slideshow{
		height: 4em;
	}
}
