*{
	font-family: 'Roboto', sans-serif;
	position: relative;
}

#navbar{
	border-radius: 0;
	margin-bottom: 0px;
	background-color: #262626;
	border-bottom: 0;
}

/* ================== particle js animation =================== */
#particles-js{
	height: 50.5em;
	background: #262626;
	padding-top: 5em;
	padding-bottom: 5em;

}

/* ===================== machine learning over top of particle js ===================== */
#machineLearning{
	position: relative;
	/*left: 15%;*/
	text-align: center;
	top: 42%;
}
#machineLearning>h1{
	color: white;
	padding-top: auto;
	padding-bottom: auto;
	font-size: 50px;
}

/* =================== typed animation =================== */
#typed{
	position: absolute;
	top: 9em;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	color: white;
	font-size: 40px;
	/*text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.50);*/
}

/* =================================== css for quotes start here =================================== */

#slideshow {
	/*margin: 80px auto;*/
	position: relative;
	height: 9em;
	padding: 0;
	font-size: 1.8em;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	font-family: 'Lora', serif;
}

#slideshow > div {
	position: absolute;
	/*top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;*/
	text-align: center;
	width: 100%;
	margin:0%;
	/*height: 5em;*/
	padding: 2em;
	/*font-size: 1.5em;*/
}

/* ===================== the writing animation ===================== */
#animejs{
	height: 100px;
}

/* =================================== css for flip animator boxes start here =================================== */

#f1_container {
	position: relative;
	margin: 10px auto;
	/*width: 450px;*/
	height: 281px;
	/*padding: 1.5em 0 1.5em 0;*/
	z-index: 1;
}
#f1_container {
	perspective: 1000;
}
#f1_card {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s linear;
}
#f1_container:hover #f1_card {
	transform: rotateY(180deg);
	/*box-shadow: -5px 5px 5px #aaa;*/
}
.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.face.back {
	display: block;
	transform: rotateY(180deg);
	box-sizing: border-box;
	padding: 10px;
	color: black;
	text-align: center;
	background-color: #eee;
}

/* ====================== Jumbotron =============== */
.jumbotron{
	padding-left: 2em;
	padding-right: 2em;
	margin-bottom: 0px;

}